.table {
  display: grid;
  width: 600px;
  overflow: auto;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.table thead,
.table tbody,
.table tr {
  display: contents;
}

.header {
  position: relative;
}

.resize {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 4px solid transparent;
  height: 100%;
  cursor: col-resize;
  transition: border-color 0.2s ease 0s;
}

.resize:hover {
  border-color: lightgreen;
}

.header:hover .resize {
  border-color: green;
}

.resize.active {
  border-color: darkgreen;
}

.table th,
.table td {
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
